@import url('https://rsms.me/inter/inter.css');
html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

html, body {
  height: 100%;
}

a {
  color: skyblue;
  text-decoration: none;
  border-bottom: 0.1em solid skyblue;
}

body {
  text-align: center;
  color: white;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100%;
  column-gap: 0.5em;
}

#beagle {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#beagle:hover {
  transform: scale(1.05);
}

#beaglezone {
  user-select: none;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  grid-area: 1/1/1/3;
}

#buildinglist article {
  position: relative;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1)
}

section {
  overflow-y: auto;
  padding: 1em;
  background: rgba(0, 0, 0, 0.5);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
